.mainblock {
    width: 100%;
    height: 100vh;
}

div {
    /*border: 2px solid black;*/
}

body {
    font-family: sans-serif;
}

ol {
    list-style-position: inside;
}

.rightadd {
    width: 140px;
}

.leftadd {
    width: 140px;
}

.menublock {
    background-color: #cad8d0;
    /*border-radius: 15px;*/
    color: black;
    margin-top: 12px;
    width: 66%;
    text-align: justify;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.mainbblock {
    background-color: #cad8d0;
    /*border-radius: 15px;*/
    color: black;
    margin-top: 12px;
    width: 100%;
    height: 100%;
    text-align: justify;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.bodyblock {
    height: 85%;
    width: 100%
}

.menu_context_footer_block {
    width: 100%;
    margin: 12px;
}

.menu_context_block {
    height: 85%;
}

.contextblock {
    width: 88%;
    min-height: 10em;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    margin-left: 12px;
}

.contextimg {
    height: 340px;
    margin: 12px;
}

.text_block {
    border: 0;
}

.footerblock1,
.tittleblock1,
.footerblock2,
.tittleblock2 {
    height: 30%;
    padding: 15px;
    font-size: 30px;
}

.footerblock2,
.tittleblock1 {
    /* margin-right: 40vh;*/
    width: 70%;
    border: 0;
}

.footerblock1,
.tittleblock2 {
    /*margin-left: 40vh;*/
    width: 30%;
    border: 4px double black;
}

.footerblock1,
.footerblock2 {
    text-align: right;
}

.tittleblock1,
.tittleblock2 {
    text-align: left;
}

.footer_contains_block,
.tittle_contains_block {
    height: 15%;
    justify-content: center;
    align-items: center;
}

.tittle_contains_block {
    height: 15%;
    width: 100%;
    margin: auto;
    margin-top: 12px;
    /* border-radius: 80px 80px 15px 15px;*/
    text-align: center;
}

.leftmenu_contains_block {
    width: 12%;
    height: 100%;
    margin-right: 12px;
}

.leftmenublock {
    width: 100%;
    height: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.rightmenublock {
    width: 10%;
    padding: 5px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.column,
.menu_context_footer_block,
.leftmenu_contains_block {
    flex-direction: column;
    display: flex;
}

.row,
.bodyblock,
.menu_context_block,
.footer_contains_block,
.tittle_contains_block {
    flex-direction: row;
    display: flex;
}


/*
.column,
.row {
    display: flex;
}*/

.tittle_contains_block,
.footer_contains_block {
    background-color: #800000;
    color: white;
}

.leftmenublock,
.rightmenublock,
.contextblock {
    background-color: #DEB887;
}